@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/Kanit-Light.ttf");
    src: url("../fonts/Kanit-Light.ttf") format("ttf"),
        url("../fonts/Kanit-Light.ttf") format("ttf");
}

body {
    font-size: f-s15;
}

#header-effect .logo {
    background-image: url("../../../../info/assets/index/logo.png") !important;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: whitesmoke;
    margin-top: -20px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: fixed;
    margin-right: -250px;
}
@media (max-width: 768px) {
    .graph-loan {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (min-width: 1350px) {
    #wrapper {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 250px;
        margin-top: 25px;
    }
}
@media (min-width: 1025px) {
    /* #wrapper {
        padding-left: 250px;
    } */

    #wrapper.toggled {
        padding-left: 0;
    }

    /* #sidebar-wrapper {
        width: 250px;
        margin-top: 25px;
    } */

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
        margin-top: 35px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    /*color: #999999;*/
    color: #000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #b0bec5;
    cursor: pointer;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

/*.sidebar-nav li a:visited{
    color: #ea1919;
}*/

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav .current {
    font-size: 18px;
    color: #d1ecf9;
    background-color: #066aa0;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-nav > .sidebar-brand a:focus {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

h1,
h2,
#texttitle,
.text-data,
label,
h3,
option,
#lm_select_year,
#lm_select_month {
    color: #066aa0;
}

.text-sum {
    text-decoration: underline;
    text-decoration-style: double;
    /* border-bottom: 6px double #0f8006;*/
    border-left: 1px solid #ffffff;
}

#texttitle-sum {
    color: #066aa0;
    background-color: #e8e5e5;
    font-weight: bold;
}

/*หัวตาราง*/
#trtitel {
    color: #ffffff;
    background: #066aa0;
}

#test {
    font-family: "Kanit", sans-serif;
}

#test [data-notify="title"] {
    font-size: 17px;
    font-weight: bold;
}

#test [data-notify="message"] {
    font-size: 15px;
    text-indent: 6%;
}

@media screen and (max-width: 1025px) {
    ul#menu {
        padding-top: 80px;
    }

    main#page-content-wrapper {
        padding-top: 105px;
    }

    #test [data-notify="title"] {
        font-size: 14px;
    }

    #test [data-notify="message"] {
        font-size: 12px;
    }
}

/* css notify */
#test {
    font-family: "Kanit", sans-serif;
}

#test [data-notify="title"] {
    font-size: 17px;
    font-weight: bold;
}

#test [data-notify="message"] {
    font-size: 15px;
    text-indent: 6%;
}

@media screen and (max-width: 1025px) {
    #test [data-notify="title"] {
        font-size: 14px;
    }

    #test [data-notify="message"] {
        font-size: 12px;
    }
}

#namecoop h2 {
    text-indent: 11px;
}

#namecoop h4 {
    text-indent: 11px;
    color: #3b5998;
}

@media (min-width: 1400px) {
    #namecoop h2 {
        text-indent: 1px;
    }

    #namecoop h4 {
        text-indent: 0;
    }
}

/*ปุ่ม go to top*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ddd;
    color: #000;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: #555;
    color: #fff;
}

@media (min-width: 1025px) {
    #myBtn {
        padding: 15px;
    }
}

/*จบ go to top*/

@media (max-width: 480px) {
    a.navbar-brand {
        color: #ffa100 !important;
    }

    table.table.table-user-information > tbody > tr > td {
        font-size: 12px;
    }
}

.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
    position: fixed;
}

.logoMem {
    text-align: right;
}

@media screen and (max-width: 768px) {
    .logoMem {
        text-align: left;
    }
    .logoMem i {
        display: none;
    }

    .tbCremRight .hed {
        width: 23%;
    }
}
.logoMem i {
    /*   positioning */
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;

    /*   gradient   */
    background: -moz-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.03) 1%,
        rgba(255, 255, 255, 0.6) 30%,
        rgba(255, 255, 255, 0.85) 50%,
        rgba(255, 255, 255, 0.85) 70%,
        rgba(255, 255, 255, 0.85) 71%,
        rgba(255, 255, 255, 0) 100%
    );
    /* FF3.6+ */
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0%, rgba(255, 255, 255, 0)),
        color-stop(1%, rgba(255, 255, 255, 0.03)),
        color-stop(30%, rgba(255, 255, 255, 0.85)),
        color-stop(50%, rgba(255, 255, 255, 0.85)),
        color-stop(70%, rgba(255, 255, 255, 0.85)),
        color-stop(71%, rgba(255, 255, 255, 0.85)),
        color-stop(100%, rgba(255, 255, 255, 0))
    );
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.03) 1%,
        rgba(255, 255, 255, 0.6) 30%,
        rgba(255, 255, 255, 0.85) 50%,
        rgba(255, 255, 255, 0.85) 70%,
        rgba(255, 255, 255, 0.85) 71%,
        rgba(255, 255, 255, 0) 100%
    );
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.03) 1%,
        rgba(255, 255, 255, 0.6) 30%,
        rgba(255, 255, 255, 0.85) 50%,
        rgba(255, 255, 255, 0.85) 70%,
        rgba(255, 255, 255, 0.85) 71%,
        rgba(255, 255, 255, 0) 100%
    );
    /* Opera 11.10+ */
    background: -ms-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.03) 1%,
        rgba(255, 255, 255, 0.6) 30%,
        rgba(255, 255, 255, 0.85) 50%,
        rgba(255, 255, 255, 0.85) 70%,
        rgba(255, 255, 255, 0.85) 71%,
        rgba(255, 255, 255, 0) 100%
    );
    /* IE10+ */
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.03) 1%,
        rgba(255, 255, 255, 0.6) 30%,
        rgba(255, 255, 255, 0.85) 50%,
        rgba(255, 255, 255, 0.85) 70%,
        rgba(255, 255, 255, 0.85) 71%,
        rgba(255, 255, 255, 0) 100%
    );
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
    /* IE6-9 */

    /*  forming the shine element
    play around with the width, skew and gradient to get different effects
  */
    width: 20%;
    height: 100%;
    transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    -moz-transform: skew(-10deg, 0deg);
    -ms-transform: skew(-10deg, 0deg);
    -o-transform: skew(-10deg, 0deg);

    /*  animating it  */
    animation: move 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation: move 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 1s;
    -moz-transform: skew(-10deg, 0deg);
    -moz-animation: move 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-delay: 1s;
    -ms-transform: skew(-10deg, 0deg);
    -ms-animation: move 2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-delay: 1s;
    -o-transform: skew(-10deg, 0deg);
    -o-animation: move 2s;
    -o-animation-iteration-count: infinite;
    -o-animation-delay: 1s;
}

@-moz-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    48% {
        opacity: 0.3;
    }

    80% {
        opacity: 0;
    }

    100% {
        left: 88%;
    }
}

@-ms-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    48% {
        opacity: 0.3;
    }

    80% {
        opacity: 0;
    }

    100% {
        left: 82%;
    }
}

@-o-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    48% {
        opacity: 0.3;
    }

    80% {
        opacity: 0;
    }

    100% {
        left: 82%;
    }
}
